# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Maven build
target/
**/target/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.settings
.springBeans
.sts4-cache
.env

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Sensitive config
src/main/resources/application.properties
src/main/resources/application.yml

# OS
.DS_Store
Thumbs.db