#navbar a {
  color: rgb(0, 0, 0); 
  text-decoration-color: rgb(86, 225, 225); 
}

#navbar a:not(:last-child) {
  border-right: 2px solid black;
  padding-right: 4.5px;
}

#navbar a:hover {
  text-decoration-color: blue; 
}

#spinner:not([hidden]) {
    background-color: rgb(223, 219, 219);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  